%h2.text-center Account Details

.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
  .center-block
    .form-group
      %b Name
      %p= @user.full_name
    .form-group
      %b Email
      %p= @user.email
    .form-group
      = link_to 'Edit', (@user == current_user ? settings_path : edit_user_path(@user)), class: 'btn btn-primary'